#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nameRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
